.social-icon {
	background: url('../../assets/mini-social-icons.png') no-repeat -131px -162px;
	width: 240px;
	height: 197px;
}

// .google {
//   background: url('imgs/mini-social-icons.png') no-repeat -274px -24px;
// 	width: 40px;
// 	height: 36px;
// }

// .pin {
//    background: url('imgs/mini-social-icons.png') no-repeat -443px -24px;
// 	width: 37px;
// 	height: 36px;
// }